# Local development
VITE_API_URL=http://localhost:5000/api 
VITE_SITE_URL=http://localhost:5173
SITE_URL=http://localhost:5173

# Production (Render)
# VITE_API_URL=https://gildiyadekora.onrender.com/api
# VITE_SITE_URL=https://gihldihja-decora.ua
# SITE_URL=https://gihldihja-decora.ua
